<div class="container text-center">
  <div class="col-md-6 col-md-offset-3">
    <h1>The Rules</h1>
    <p>This is Basic.  A social media platform that wants to get back to the roots of social media.
    Our goal is to make you want to socialize and share your thoughts and opinions with friends, 
    but without the distraction of scrolling past thousands of shared videos from the most ridiculously 
    named pages, that who even knows where people find these pages.  We want to you to see 
    original content (OC) provided by friends, colleauges and whoever else you
    want to add.</p>
    <p>With that being said, there are a few rules to this site that will make it different from the 
    rest as well as including elements from them that will make it similar.</p>
    <p>Here are the following rules that you will need to comply with in order to remain a member should
    you choose to join.  These rules are subject to change as we see necessary for those people that test
    boundries.</p>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <ul>
        <li>empty</li>
        <li>empty</li>
        <li>empty</li>
    </ul>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <h2 class="text-center">Sign Up</h2>
      <h4 class="text-center">If you can live with these rules, sign-up and try out Basic.</h4>
      <br/>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
      <!--new_user_registration_path(plan: @basic_plan.id)-->
    </div>
  </div>

</div>